{% extends "chatbox/base.html" %}
{% block title %}Select lectures{% endblock %}
{% block content %}
    <div class="lectures-container">
        <h1 class="lectures-title">Lecture List</h1>
        <ul class="lectures-list">
            {% for lecture in lectures %}
                <li class="lecture-item">
                    <a href="{% url 'lecture' lecture.id %}" class="lecture-link">{{ lecture.title }}</a>
                    <p class="lecture-description">{{ lecture.description.course }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
